
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<div class="container d-flex justify-content-center">
    <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="rajeshdnp"><a class="LI-simple-link" href='https://in.linkedin.com/in/rajeshdnp?trk=profile-badge'>Rajesh D</a></div>
</div>